<%
this.project = 'nodi';
this.projectName = 'Nodi';
this.moduleName = '@nodi/nodi??';
this.page = 'concepts';
this.pageName = 'Concepts';

this.generateSubpages('main/concepts');

this.toc = [];
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('/_head') %>
        <%- include('/main/_head') %>
        <title><%- this.projectName %> | <%- this.pageName %></title>
    </head>
    <body>
        <%- include('/_nav') %>

        <div class="content-page">
            <div class="center">
                <div class="content-page--toc">
                    <%- include('/_toc') %>
                </div>

                <div class="content-page--content">
                    <%- this.subpage.content %>
                </div>
            </div>
        </div>

        <%- include('/_footer') %>
    </body>
</html>