<%
this.project = 'nodi';
this.projectName = 'Nodi';
this.moduleName = '@nodi/nodi??';
this.page = 'concepts';
this.pageName = 'Concepts';

this.toc = [

];
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('/_head') %>
        <%- include('/main/_head') %>
        <title><%- this.projectName %> | <%- this.pageName %></title>
    </head>
    <body data-page="index">
        <%- include('/_nav') %>

        <%- include('/_toc') %>

        <%- include('/_footer') %>
    </body>
</html>