<%
this.project = 'nodi';
this.projectName = 'Nodi';
this.moduleName = '@nodi/nodi??';
this.page = 'donate';
this.pageName = 'Donate';
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('/_head') %>
        <%- include('/seiryu/_head') %>
        <title><%- this.projectName %> | <%- this.pageName %></title>
    </head>
    <body data-page="donate">
        <%- include('/_nav') %>

        <section class="donate">

        </section>

        <%- include('/_footer') %>
    </body>
</html>