<%
this.project = 'nodi';
this.projectName = 'Nodi';
this.moduleName = '@nodi/nodi??';
this.page = 'home';
this.pageName = 'Home';
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('/_head') %>
        <%- include('/seiryu/_head') %>
        <title><%- this.projectName %> | <%- this.pageName %></title>
    </head>
    <body data-page="index">
        <%- include('/_nav') %>

        <section class="introduce">
            <div class="banner">
                <%- include(`/assets/${ this.project }.logo.svg`) %>
                <h1><%- this.projectName %></h1>
                <h2>
                    About creating
                    <span class="accent">fast</span>,
                    <span class="accent">elegant</span> &
                    <span class="accent">modern</span>
                    apps
                </h2>
            </div>
            <div class="main-column">
                <div class="block">
                    <h2>More than library</h2>
                    <div class="icon">
                        <%- include('/assets/icons/collage.svg') %>
                    </div>
                    <p class="desc">
                        Nodi is not bundle of just libraries. It's powered by well documented concepts that allows for programmers write faster and better applications
                    </p>
                </div>

                <div class="block">
                    <h2>Flexible</h2>
                    <div class="icon">
                        <%- include('/assets/icons/scissors.svg') %>
                    </div>
                    <p class="desc">
                        Flexibility is one major rules of Nodi. We won't force anyone to use specific libraries. Instead of that code have to be opened in such way to allows for overriding default behavior
                    </p>
                </div>

                <div class="block">
                    <h2>Elegant</h2>
                    <div class="icon">
                        <%- include('/assets/icons/heart.svg') %>
                    </div>
                    <p class="desc">
                        Readable code allows not only fix/change code faster, but also develop faster new features as well
                    </p>
                </div>

                <div class="block">
                    <h2>Cost meter</h2>
                    <div class="icon">
                        <%- include('/assets/icons/timer.svg') %>
                    </div>
                    <p class="desc">
                        It's easy to keep eyes on your call costs to avoid more complex responses, from checking where people need to wait the most
                    </p>
                </div>

                <div class="block">
                    <h2>Magicless</h2>
                    <div class="icon">
                        <%- include('/assets/icons/magic.svg') %>
                    </div>
                    <p class="desc">
                        This library doesn't contains any magic in itself, only few metaprogramming, well documented tricks. Thanks to that it's easier to keep DRY rule without additional learning
                    </p>
                </div>

                <div class="block">
                    <h2>Easy</h2>
                    <div class="icon">
                        <%- include('/assets/icons/person-open-arms.svg') %>
                    </div>
                    <p class="desc">
                        Seiryu does't contains any new syntaxes, any config files, any strict rules for directories structure, any strict rules for software  purpose
                    </p>
                </div>
            </div>
        </section>
        <section class="family">
            <div class="main-column">
                <h1><span class="accent">Nodi's</span> familiy libraries</h1>
            </div>
            <div class="item seiryu">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/seiryu.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Seiryu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('seiryu') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item byakko">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/byakko.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Byakko</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('byakko') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item core">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/core.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Core</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('core') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item seiryu">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/seiryu.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Seiryu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('seiryu') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item seiryu">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/seiryu.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Seiryu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('seiryu') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item seiryu">
                <div class="main-column">
                    <div class="logo">
                        <%- include('/assets/seiryu.logo.svg') %>
                    </div>
                    <div class="info">
                        <h2>Seiryu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus augue in felis iaculis semper. Etiam rhoncus purus ac molestie gravida. Proin gravida elementum venenatis. Donec consequat sapien in tellus ornare pulvinar. Nulla et tortor ante. Sed in dolor eget nibh bibendum commodo eget nec libero. Sed vel bibendum justo.</p>
                        <div class="bottom">
                            <a href="<%- this.url('seiryu') %>">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('/_footer') %>
    </body>
</html>